:root {
    --primary-clr:#0082e6;
    --primary-clr-light: #dbe3ff;
    --secondary-clr: #f5f834;
    --logo-clr: #93177e;
    --action-clr: #0082e6;
    --action-clr-op: #fff;
}

.d-none {
    display: none;
}
.mt-auto {
    margin-top: auto !important;
}