@import url("https://fonts.googleapis.com/css2?family=Anta&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins"; }

body {
  cursor: url("../arrow.png"), auto; }

.navbar {
  width: 100%;
  height: 72px;
  border-bottom: 2px solid black; }
  .navbar nav {
    max-width: 1440px;
    width: 90%;
    height: 100%;
    margin-inline: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar nav .logo {
      position: absolute;
      right: 50%;
      font-weight: 800;
      font-size: 1.3em;
      letter-spacing: 1px;
      transform: translateX(50%); }
    .navbar nav .active {
      border: 1px solid black;
      background: #EFA1A1;
      padding: 0.5em 1em;
      color: white;
      border-radius: 8px; }
    .navbar nav ul {
      list-style: none;
      display: flex;
      gap: 20px; }
      .navbar nav ul a {
        text-decoration: none;
        color: black; }

.container {
  width: calc( 100% - 120px );
  margin-inline: auto; }

.hero {
  display: flex;
  height: 952px;
  max-height: 100vh;
  flex-wrap: wrap;
  justify-content: space-between; }
  .hero .text-section, .hero .img-section {
    height: 100%;
    width: 50%; }
  .hero .text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 150px;
    padding-inline: 8px;
    font-weight: 700; }
    .hero .text-section h1 {
      font-size: 60px;
      letter-spacing: 3px; }
    .hero .text-section .btns {
      margin-right: auto; }
      .hero .text-section .btns .black {
        color: white;
        background: black; }
      .hero .text-section .btns .white {
        color: black;
        background: white; }
      .hero .text-section .btns a {
        margin-right: 1.5em;
        border: 1px solid black;
        padding: 0.5em 1em;
        color: white;
        border-radius: 8px; }
  .hero .img-section {
    transition: 600ms;
    background: linear-gradient(to right, #eee, gray);
    display: flex;
    justify-content: center;
    align-items: end; }
    .hero .img-section .img-bx {
      object-fit: fit; }
      .hero .img-section .img-bx img {
        max-height: 85vh;
        width: 100%; }
  .hero .img-section:hover {
    background: linear-gradient(to right, #ebac9d, #ADA1CF); }

.info {
  background: #eee;
  text-align: center;
  margin-inline: auto; }
  .info .container {
    padding-block: 60px; }
    .info .container h3 {
      margin-bottom: 60px; }
    .info .container video {
      width: 100%; }

.projects:hover .cards-cont {
  display: flex;
  max-height: 100000px;
  opacity: 1; }
.projects:hover .text-bx {
  font-size: 0.8rem; }
  .projects:hover .text-bx h2 {
    font-size: 2em; }

.projects {
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  gap: 40px; }
  .projects .text-bx {
    transition: 1s;
    font-size: 1rem;
    text-align: center; }
    .projects .text-bx h2 {
      font-size: 2.5em;
      margin: 0.6em auto 0.33em auto; }
  .projects .cards-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    max-height: 0;
    opacity: 0;
    transition: 1s; }
    .projects .cards-cont .half {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 3rem; }
      .projects .cards-cont .half .card .img-bx, .projects .cards-cont .half .card figure {
        object-fit: fill;
        margin-bottom: 0.7rem; }
        .projects .cards-cont .half .card .img-bx img, .projects .cards-cont .half .card figure img {
          width: 100%; }
        .projects .cards-cont .half .card .img-bx figcaption, .projects .cards-cont .half .card figure figcaption {
          font-size: 1.1em;
          font-weight: 600; }
      .projects .cards-cont .half .card .text-bx {
        text-align: left;
        font-size: 16px; }
        .projects .cards-cont .half .card .text-bx p {
          margin-bottom: 0.5rem;
          margin-top: 0.5rem; }
        .projects .cards-cont .half .card .text-bx .badges-cont {
          display: flex;
          flex-wrap: wrap;
          gap: 8px; }
          .projects .cards-cont .half .card .text-bx .badges-cont .badge {
            text-align: center;
            font-weight: 500;
            font-size: 0.85rem;
            padding: 4px 8px;
            background: #aaa;
            color: white; }
        .projects .cards-cont .half .card .text-bx .link {
          margin-top: 1.3rem;
          color: black; }
          .projects .cards-cont .half .card .text-bx .link a {
            color: black;
            text-decoration: none; }

.Tech {
  padding-top: 2rem;
  background: linear-gradient(to right, #F1FDFF, #D3F7FF);
  width: 100%; }
  .Tech .container .text-bx {
    margin-bottom: 40px;
    font-size: 1rem;
    text-align: center; }
    .Tech .container .text-bx h2 {
      font-size: 1.5em; }
    .Tech .container .text-bx p {
      font-size: 1em; }
  .Tech .container .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; }
    .Tech .container .cards .card {
      width: 200px;
      object-fit: fit; }
      .Tech .container .cards .card img {
        display: inline-block;
        width: 100%;
        maring: auto; }

/*# sourceMappingURL=style.css.map */
